<footer class="footer-divider footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 hidden-md-down">
                <a href="//thskth.se"><img src="/assets/images/site/THS.png" height="102"></a>
            </div>
            <div class="col-lg-11 col-md-12" style="padding: 0;">
                <div class="col-lg-4">
                    <h5>Kontakt</h5>
                    <ul class="list-unstyled">
                        <li>Directeur <a href='mailto:%22William "Thomas" Thunholm%22%3cdirren@pq.se%3e'>Matilda "GT" Bergsten</a></li>
                        <li>+46 (0)70 654 44 14</li>
                        <li><a href="mailto:dirren@pq.se">dirren@pq.se</a></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <h5>Postadress</h5>
                    <ul class="list-unstyled">
                        <li>Promenadorquestern och med Baletten Paletten</li>
                        <li>Tekniska Högskolans Studentkår</li>
                        <li>100 44 Stockholm</li>
                </div>
                <div class="col-lg-3">
                    <h5>Betalning</h5>
                    <ul class="list-unstyled">
                        <li><strong>Bankgiro</strong> 5606-6012</li>
                        <li><strong>Swish</strong> 123-156 99 46</li>
                        <li><strong>Org-nummer</strong> 802448-0306</li>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="pull-right hidden-sm-down"><a href="#"><span class="glyphicon glyphicon-chevron-up"></span>Gå
                        till toppen</a></p>

                <p>2026 Promenadorquestern och med Baletten Paletten -
                    <a href="//www.facebook.com/promenadorquestern">Facebook</a> -
                    <a href="mailto:webbis@pq.se">Webbansvarig</a> -
                    <a href="https://www.instagram.com/pq_officiell">Instagram</a> -
                    <a href="https://www.instagram.com/pqbussen">Instagram (PQ-bussen)</a> -
                    <a href="https://sv.wikipedia.org/w/index.php?title=Promenadorquestern">Wikipedia</a>
                </p>
            </div>
        </div>
    </div>
</footer>