<div class="container">
<nav class="navbar">
    <a class="navbar-brand" href="{{ page.dir }}">
        <img class="hidden-lg-down" src="/assets/images/site/logo-header-shadow.png" height="66px">
        <img class="hidden-xl-up" src="/assets/images/site/logo-header-q.png" height="50px">
    </a>

    <button class="navbar-toggler hidden-md-up" type="button" style="height: 72px" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
        ☰
    </button>
    <div class="collapse navbar-toggleable-sm" id="navbar-header">
        <ul class="nav navbar-nav pull-mc-right">
            {%- for item in site.data.page_translations %}
                <li class="nav-item" style="text-align: right;">
                    <a class="nav-link" href="{{ page.dir }}{% if page.sv %}{{ item.sv_name }}{% else %}{{ item.en_name }}{% endif %}">
                        {%- if page.sv -%}
                            {{- item.sv_title -}}
                            {%- if item.sv_title == page.title -%}<span class="sr-only">(current)</span>{%- endif -%}
                        {%- else -%}
                            {{- item.en_title -}}
                            {%- if item.en_title == page.title -%}<span class="sr-only">(current)</span>{%- endif -%}
                        {%- endif -%}
                    </a>
                </li>
            {%- endfor %}
        </ul>
    </div>
</nav>
<a type="button" class="btn btn-link" style="padding:0px; color: #ebad39; float:right" href="
    {%- if page.sv -%}
        {%- assign item = site.data.page_translations | find: 'sv_title', page.title -%}
        /en/{{- item.en_name }}
    {%- else -%}
        {%- assign item = site.data.page_translations | find: 'en_title', page.title -%}
        /{{- item.sv_name }}
    {%- endif -%}
">
    {%- if page.sv -%}
        In English
    {%- else -%}
        På svenska
    {%- endif -%}
</a>
</div>