<head>
    <!-- <meta name="google-site-verification" content="vYG9rGEH7PJn7xHlIbWjSWVaRigxuueFtU1rLj3_GKc" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/site/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/site/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/site/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/site/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/site/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/site/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/site/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/site/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/site/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/images/site/logo-header-64x64.png">
    <link rel="icon" type="image/png" sizes="150x150" href="/assets/images/site/logo-header-150x150.png">
    <link rel="manifest" href="/assets/images/site/manifest.json">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/site/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link href="cover.css" rel="stylesheet"> -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {% seo %}
</head>