<header class="container" style="width:100%">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ page.dir }}">
            <img class="d-none d-xl-block" src="/assets/images/site/logo-header-shadow.png" height="66px">
            <img class="d-xl-none" src="/assets/images/site/logo-header-q.png" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
            ☰
        </button>
       <div class="collapse navbar-collapse" id="navbar-header">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {%- for item in site.data.page_translations %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page.dir }}{% if page.sv %}{{ item.sv_name }}{% else %}{{ item.en_name }}{% endif %}">
                        {%- if page.sv -%}
                            <span class="nav-text">{{- item.sv_title -}}</span>
                            {%- if item.sv_title == page.title -%}<span class="sr-only">(current)</span>{%- endif -%}
                        {%- else -%}
                            <span class="nav-text">{{- item.en_title -}}</span>
                            {%- if item.en_title == page.title -%}<span class="sr-only">(current)</span>{%- endif -%}
                        {%- endif -%}
                    </a>
                </li>
            {%- endfor %}
            </ul>
        </div>
    </nav>
    <a style="padding:0px; float:right" href="
        {%- if page.sv -%}
            {%- assign item = site.data.page_translations | find: 'sv_title', page.title -%}
            /en/{{- item.en_name }}
        {%- else -%}
            {%- assign item = site.data.page_translations | find: 'en_title', page.title -%}
            /{{- item.sv_name }}
        {%- endif -%}
    ">
        {%- if page.sv -%}
            In English
        {%- else -%}
            På svenska
        {%- endif -%}
    </a>
</header>