<head>
    <!-- <meta name="google-site-verification" content="vYG9rGEH7PJn7xHlIbWjSWVaRigxuueFtU1rLj3_GKc" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/site/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/site/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/site/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/site/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/site/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/site/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/site/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/site/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/site/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/images/site/logo-header-64x64.png">
    <link rel="icon" type="image/png" sizes="150x150" href="/assets/images/site/logo-header-150x150.png">
    <link rel="manifest" href="/assets/images/site/manifest.json">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" >

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#0d0c0a">
    <!-- Windows Phone -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/site/ms-icon-144x144.png">
    <meta name="msapplication-navbutton-color" content="#0d0c0a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#0d0c0a">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% seo -%}
</head>