{%- comment -%}
    `content` is already "markdownified". We undo any markdownification of the special tags ~.~ and ~.[NAME].~.
    This means that special tags are required to be isolated paragraphs in the markdown document.
{%- endcomment -%}
{%- assign content_array = include.content
    | replace: "<p>~.", "~."
    | replace: ".~</p>", ".~"
    | strip
    | split: "~.~"
-%}
{%- for row_content in content_array -%}
<div class="row">
    {%- assign row_content_array = row_content | strip | split: "~." -%}
    {%- for column_data in row_content_array -%}
        {%- if column_data != "" -%}
            {%- assign column_aux = column_data | strip | split: ".~" -%}
            {%- for item in site.data.tilde_dot_names -%}
                {%- if column_aux[0] == item.name %}
<div class="{{ item.class }}">
{{ column_aux[1] | markdownify | strip }}
</div>
                    {%- break -%}
                {%- elsif forloop.last %}
<div class="{% assign var = site.data.tilde_dot_names | find: 'name', 'DEFAULT' %}{{ var.class }}">
{{ column_data | markdownify | strip }}
</div>
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor %}
</div>
{% endfor -%}