{%- if page.lang == "sv" -%}
{%- assign sv = true -%}
{%- else -%}
{%- assign sv = false -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div class="container" style="flex: 1 0 auto; width: 100%">
            
            <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
            </main>

        </div>
        <hr>
        {% include footer.html %}
        {% include sub-footer.html %}
    </body>
</html>